/* Geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana;
  color: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,400;1,900&family=Secular+One&display=swap');
body {
  background-image: url("../img/bg1.jpg");
  background-position: center;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Secular One', sans-serif;
}

button {
  background-color: #fdfdfd;
  color: #333;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

button:hover {
  background-color: #333;
}

button:hover > i {
  color: #fff;
}

button i {
  pointer-events: none;
  color: #333;
  font-weight: bold;
}

input,
select {
  padding: 10px;
  color: #333;
  outline: none;
  border: 0;
  transition: .2s;
  font-size: 1.1rem;
}

button{
  outline: none;
  border: 0;
  font-size: 1.1rem;
}
option{
  color: #333;
}
.hide {
  display: none;
}

/* Todo Header */
.todo-container {
  max-width: 450px;
  margin: 3rem auto 0;
  backdrop-filter: blur(35px);
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;

}

/* Todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
  width: 80%;
}
.form-control button{
  width: 20%;
}
#cancel-edit-btn {
  margin-top: 1rem;
  color: #444;
}

/* Todo Toolbar */
#toolbar {
  padding: 1rem;
  border-bottom: 1px solid linear-gradient(to right, transparent, black, transparent);
  display: flex;

}

#toolbar h4 {
  margin-bottom: 0.5rem;
}
#search {
  padding-right: 1rem;
  margin-right: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: 0.3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  flex: 1;
}

/* Todo List */
#todo-list:active > :not(:active) {
  opacity: .1;
}

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  transition: .4s;
  margin: 7px 0;
  border-radius:  30px;
  opacity: 1;
}

.todo:hover {
  transform: translateX(5px);
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
  transition: .2s;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background: #ffffff;
}

.done h3 {
  color: #333;
  text-decoration: line-through;
  font-style: italic;
}

#todo-list{
  padding: 5px;
  max-height: 300px;
  overflow: auto;
}
#todo-list::-webkit-scrollbar{
  opacity: 0;
}
#tod0list::-webkit-scrollbar-track{
  background-color: red;
  color: red;
}

@media screen and (max-width: 400px){
    .todo-container{
      padding: 5px;
    }
}

h4, p{
  font-weight: 100;
}


.bolhas {
  position: absolute;
  display: flex;
  height: 100%;
}

.bolhas span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #00d9ff;
  margin: 0 4pc;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #00d9ff06,
  0 0 10px #00d9ff,
  0 0 100px #00d9ff;
  transition: .2s;
  opacity: 0;
  animation: animar 5s calc(200s / var(--i)) linear infinite;
}

@keyframes animar{
  0% {
      transform: translateY(100vh) scale(0); 
  }

  10%{
    opacity: 1;
  }

  100%{
      transform: translateY(-10vh) scale(1.2);
      opacity: 1;
  }
}

.bolhas span:nth-of-type(even) {
  background-color: #ffffff;
  box-shadow: 0 0 0 10px #ffffff00,
  0 0 10px #ffffff,
  0 0 100px #ffffff;
}